*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Color schemes */
.intro {
	--color-text: #fff;
	--color-link: #5f5f5f;
	--color-link-hover: #ff963b;
	--color-enter: #fff;
	--color-title: #fff;
	--color-subtitle: #5f5f5f;
	--color-menu-item: #000;
	--color-menu-item-hover: #ff963b;
	--color-menu-item-hover-alt: #8544da;
	--color-content: #222325;
	--color-content-fixed: #ddd;
	--font-alt: 200 6vw/1 'Spectral', serif;
	--color-next: #5f5f5f;
	--color-next-hover: #8544da;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ccd8e4;
	background: var(--color-content);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 10000;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin: -25px 0 0 -25px;
	pointer-events: none;
	background: #333;
	background: var(--color-text);
	border-radius: 50%;
	animation: loaderAnim 0.5s ease infinite alternate forwards;
}

@keyframes loaderAnim {
	0% {
		transform: scale3d(0.5,0.5,1);
	}
	100% {
		transform: scale3d(1,1,1);
	}
}

a {
	text-decoration: none;
	color: #5d93d8;
	color: var(--color-link);
	outline: none;
}

.download-resume-link {
	font-size: 1em;
	background: #5d93d8;
	padding: 0.6em 2em;
	color: #fff;
	border-radius: 2em;
	margin-top: 1em;
	display: block;
	transition: all 0.5s;
}

.download-resume-link:hover {
	background-color: var(--color-next-hover);
	color: #fff;
}

a:hover,
a:focus {
	color: #423c2b;
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.icon--arrow-right {
	transform: scale3d(-1,-1, 1);
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.5em;
}

.frame {
	position: absolute;
	z-index: 10000;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	width: 100%;
	max-width: none;
	height: 100vh;
	padding: 1.5em;
	pointer-events: none;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 4em;
	grid-template-areas: 'header ...'
	'... ...'
	'github demos';
}

.frame a {
	pointer-events: auto;
}

/* Header */
.codrops-header {
	position: relative;
	z-index: 100;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-items: center;
	align-self: start;
	grid-area: header;
	justify-self: start;
}

.codrops-header__title {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
	padding: 0.75em 0;
}

.info {
	margin: 0 0 0 1.25em;
	font-style: italic;
	color: var(--color-link);
}

.github {
	display: block;
	align-self: end;
	grid-area: github;
	justify-self: start;
}

.demos {
	position: relative;
	display: block;
	align-self: end;
	text-align: center;
	grid-area: demos;
	display: block;
	justify-self: end;
}

.demo {
	padding: 0 0.15em;
}

.demo:not(:last-child) {
	margin-right: 1em;
}

.demo span {
	white-space: nowrap;
	pointer-events: none;
}

a.demo--current {
	pointer-events: none;
	color: var(--color-text);
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0 1em 0 0;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	margin: 0.15em;
	padding: 0.25em;
}

/* Page transitions */
main {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.content {
	width: 100%;
	height: 100vh;
	position: relative;
}

.content--intro {
	z-index: 100;
	height: 200vh;
}

.content--fixed {
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--color-content-fixed);
	/* background-image: var(--bg-img); */
	/* can't use this as relative path until it's fixed in Chrome https://bugs.chromium.org/p/chromium/issues/detail?id=618165 */
	background-position: 50% 50%;
	background-size: cover;
}

.intro .content--fixed {
	background-color: grey;
}

.content__inner {
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
	height: 100vh;
	position: relative;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content--intro .content__inner {
	background: var(--color-content);
}

.content h2 {
	margin: 0;
}

.shape-wrap {
	position: relative;
	z-index: 10;
	margin: -5px 0 0 0; /* Hide the gap */
}

.shape {
	height: 100vh;
	width: 100%;
	display: block;
	fill: var(--color-content);
}

.content__title {
	font: var(--font-alt);
	color: var(--color-title);
	margin: 0;
	line-height: 1;
}

.content__title--filled {
	background: var(--color-content);
	padding: 0.25em 0.5em;
}

.content__title span {
	display: inline-block;
}

.content__subtitle {
	font: var(--font-alt);
	font-size: 1.5em;
	color: var(--color-subtitle);
	padding: 0.5em 0 0 0;
	margin: 0;
	opacity: 0;
	transition: all 0.5s;
}

.about-me {
	font: var(--font-alt);
	font-size: 2vw;
	max-width: 80%;
	color: var(--color-menu-item);
	margin: 1em;
	text-align: left;
	position: relative;
	line-height: 1.5;
}

.enter, .explore {    
	margin: 6vh 0 0 0;
	font-size: 1em;
	letter-spacing: 3px;
	cursor: pointer;
	font-weight: bold;
	white-space: pre;
	color: var(--color-enter);
	pointer-events: auto;
}

.enter:hover,
.enter:focus {    
	color: var(--color-enter);
}

.enter span {
	display: inline-block;
}

.enter {
	opacity: 0;
	transition: all 0.5s;
}

.explore {
	background: var(--color-subtitle);
	color: var(--color-title);
	padding: 0.5em 1em;
}

.explore:hover,
.explore:focus {    
	background: var(--color-text);
}

.menu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 1em;
}

.menu__item {
	font: var(--font-alt);
	font-size: 3vw;
	color: var(--color-menu-item-hover-alt);
	margin: 0 1em 1em 1em;
	position: relative;
	line-height: 1;
}

.menu__item:hover,
.menu__item:focus {
	color: var(--color-menu-item-hover);
}


.demo-2 .menu__item {
	pointer-events: none;
	padding: 3em;
}

.demo-2 .menu__item span {
	pointer-events: auto;
}

.content__text {
	font-size: 1.85em;
	max-width: 800px;
	text-align: left;
}

.content__text a {
	color: var(--color-menu-item);
}

.content__text a:hover, 
.content__text a:focus {
	color: var(--color-menu-item-hover);
}


/* Letter Animation Intro page */

.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 4.5em;
  color: #fff;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0.5 0;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}

.projects-link {
  padding: 10px 0;
  position: relative;
  text-decoration: none;
}

.link-wrapper {
  position: absolute;
}

.link-wrapper.right {
  right: 32px;
  top: 32px;
}

.link-wrapper.left {
  left: 32px;
  top: 32px;
}

.projects-link:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #beb8b8e6;
  transform: scaleX(0);
  transition: transform 0.3s;
  transform: scaleX(1);
}

.projects-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #beb8b8e6;
  transform: scaleX(0);
  transition: transform 0.3s;
  transform: scaleX(1);
}

.projects-link:hover:before,
.projects-link:hover:after {
  background-color: #fff;
}

@media screen and (max-width: 50em) {
	.frame {
		z-index: 1000;
		display: block;
		padding: 0.85em 0;
	}
	
	.demos {
		font-size: 0.85em;
		padding: 0 0.25em;
	}
	.codrops-header {
		flex-direction: column;
		align-items: center;
		padding-top: 5em;
	}
	.codrops-header__title {
		font-weight: bold;
		padding-bottom: 0.25em;
		text-align: center;
	}
	.github {
		display: none;
	}
	.codrops-links {
		margin: 0;
	}
	.content__title {
		font-size: 2em;
	}
	.demo {
		padding: 0;
		margin: 0;
	}
	.menu__item {
		margin: 0.5em 0;
		font-size: 1.5em;
	}
	.content__text {
		padding: 1em;
		font-size: 1em;
	}
	.next-demo {
		position: relative;
	}
}


@media screen and (max-width: 767px) {
	.about-me {
		font-size: 5vw;
	}
	.ml5 {
		font-size: 3.5em;
	}
	.content__inner {
		text-align: left;
	}
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
	.content__inner {
		text-align: left;
	}
	.about-me {
		font-size: 2vw;
	}
	.ml5 {
		font-size: 3.5em;
	}
	.download-resume-link {
		font-size: 1.2em;
	}
}
